body {
    margin: 0;
    padding: 0;
    font-family: "poppings";
    background-color: aliceblue;
}

* {
    box-sizing: border-box;
}

.query-form {
    display: block;
    background-color: rgb(210, 216, 224);
    box-shadow: 1px 1px 3px 2px #eee;
    margin: 40px auto;
    max-width: 700px;
    max-height: 700px;
    padding: 20px;
    margin-top: 100px;
    border-radius: 20px;
}

.form-container {
    margin-top: -50px;
    margin-left: 150px;
}

form input {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 10px auto;
    margin-left: 0px;
    height: 40px;
    border-radius: 10px;
}

.select-opt-1 {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 0px;
    height: 40px;
    font-size: large;
    border-radius: 8px;
}

.select-opt-2 {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 0px;
    height: 40px;
    font-size: large;
    border-radius: 8px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 8px;
}

.topic {
    margin-left: -100px;
    color: rgb(37, 127, 205);
}

.details {
    margin-left: -100px;
    color: rgb(37, 127, 205);
}

.cancel-btn1 {
    width: 20%;
    margin-left: 280px;
    border-radius: 8px;
    color: rgb(37, 127, 205);
}

.create-btn1 {
    width: 20%;
    border-radius: 8px;
    background-color: rgb(37, 127, 205);
}

.query-title {
    margin-top: 50px;
    margin-left: 30px;
}

/* border: '1px solid #ccc',
padding: '10px',
margin: '10px',
cursor: 'pointer' */

.query-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    margin-left: 30px;


}



.view-query {
    margin-top: 100px;
}

.setquery {
    margin-top: 100px;

}

.logout-btn3 {
    margin-left: 1450px;
}

/* .msg-input{
    border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        cursor: pointer;
        margin-left: 30px;  
        height: 200px;
        align-items: center;
} */

.delete-btn {
    background-color: rgb(37, 127, 205);
    border-radius: 5px;
    width: 80px;
    position: absolute;
    top: 100px;
    left: 60%;
}

.heading {
    margin-left: 150px;
}

.queryid-1 {
    margin-top: 30px;
}

.queryid-2 {}

.category-1 {
    margin-top: 20px;
}

.subcategory-1 {
    margin-top: -130px;
    margin-left: 400px;
}

.subcategory-2 {
    margin-top: 0px;
    margin-left: 400px;
}

.voice-1 {
    margin-top: 20px;
    margin-left: 400px;
}

.voice-2 {
    margin-left: 400px;
}

.description-1 {
    margin-top: -50px;
    margin-left: 400px;
}

.description-2 {
    margin-left: 400px;
}

.title-1 {
    margin-top: 20px;
}

.query-2 {
    margin-left: 500px;
}

.back-btn-2 {
    background-color: rgb(37, 127, 205);
    border-radius: 5px;
    width: 80px;
    position: absolute;
    top: 100px;
    margin-left: 20px;

}

.status-heading {
    margin-left: 500px;
    position: absolute;
    top: 375px;
}

.status-option {
    margin-left: 580px;
    position: absolute;
    top: 375px;
}

.save-btn {
    margin-left: 500px;
    position: absolute;
    top: 420px;
    background-color: rgb(37, 127, 205);
    width: 70px;
    border-radius: 5px;
}